cmake==3.25.0
filelock==3.9.0
iniconfig==2.0.0
Jinja2==3.1.2
lit==16.0.5
MarkupSafe==2.1.2
mpmath==1.2.1
networkx==3.0
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
pluggy==1.0.0
progressbar2==4.2.0
pytest==7.3.1
python-utils==3.5.2
pytorch-triton-rocm==2.0.1
sympy==1.11.1
torch==2.0.1+rocm5.4.2
typing_extensions==4.4.0
