asttokens==2.2.1
attrs==22.2.0
backcall==0.2.0
Brlapi==0.8.4
btrfsutil==6.3
cffi==1.15.1
comm==0.1.3
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
fonttools==4.39.4
iniconfig==2.0.0
ipykernel==6.23.1
ipython==8.13.2
jedi==0.18.2
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.4
lensfun==0.3.3
louis==3.25.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
MemoizeDB==2021.11.20.2.41.2
nest-asyncio==1.5.6
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
pluggy==1.0.0
ply==3.11
pm2ml==2021.11.20.2.41.2
Powerpill==2021.11.20.2.41.2
progressbar2==4.2.0
prompt-toolkit==3.0.38
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyalpm==0.10.6
pycairo==1.23.0
pycparser==2.21
Pygments==2.15.1
PyGObject==3.44.1
pyparsing==3.0.9
pytest==7.3.1
python-dateutil==2.8.2
python-utils==3.5.2
pyxdg==0.28
pyzmq==25.0.2
setproctitle==1.3.2
six==1.16.0
stack-data==0.6.2
tornado==6.3.2
traitlets==5.9.0
wcwidth==0.2.6
XCGF==2021.11.20.2.41.3
XCPF==2021.12.24.10.22.41
